===================================
Cogwheels 1.X (alpha) release notes
===================================

.. NOTE ::
    
    Cogwheels 1.X is in the alpha stage of development. Any changes
    detailed below are subject to change before the final 1.X release.

.. contents::
    :local:
    :depth: 1


New features
============

TBA


Minor changes & bug fixes 
=========================

TBA


Breaking changes
================

N/A


Deprecations
============

N/A
